/* search-page css */
body    {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.wrapper    {
    flex: 1;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1;
}

.ui.placeholder.segment {
    opacity: .8;
    background-image: url('../images/bg1.jpg');
    margin-top: 0px;
}

.ui.container.segment   {
    opacity: .9;
    display: none;
    width: 100%;
}

#header-title   {
    color: black;
}

.ui.header, #accordion-title,  {
    color: white;
}

div#accordion-content > *  {
    color: white;
}

.extra.content  {
    text-transform: capitalize;
}

.footer {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    font-size: 12px;
    bottom: 10px;
    margin-bottom:10px;
}

.ui.dividing.huge.header {
    padding: 20px;
}

#logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.ui.inverted.grey.segment {
    background-color: white;
}

.navbar.navbar-expand-lg.navbar-light.bg-light {
    display: block;
}

.navbar-nav {
    display: inline-flex;
}

div#likeBtn:active {
    background-color: teal;
}

.selected {
    background: teal;
}

.ui.modal {
    overflow-y: scroll;
}

.canvas {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
 }