/* index page css */
body {
    background-color: darkgray;

    background-image: url("../images/bg1.jpg");
    height: 100%;

    background-size: cover;
    background-repeat: no-repeat;
}

.ui.inverted.button {
    float: right;
    margin-right: 5%;
    margin-top: 30px;
}

#container {
    float: center;
    clear: both;
    width: 80%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;

    justify-content: center;
}

#logo {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

#searchbtn {
    margin-left: auto;
    margin-right: auto;

}

.intro {
    padding: 20px;
    text-align: center;
    color: white;
}

#quote {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

#indexSearch {
    position: absolute;
    top: .35em;
    right: .5em;
}

.footer {
    position: fixed;
    bottom: 30px;
    width: 100%;
    text-align: center;
    color: white;
}