body    {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.wrapper    {
    flex: 1;
}

.ui.placeholder.segment {
    margin-top: 0px;
}

.extra.content  {
    text-transform: capitalize;
}

.footer {
    text-align: center;
    padding-top: 20px;
    font-size: 1.2rem;
}