body    {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.wrapper    {
    flex: 1;
}

.ui.placeholder.segment {
    background-image: url('../images/bg1.jpg');
    margin-top: 0px;
}

.ui.container.segment   {
    display: none;
}

.ui.header, #accordion-title {
    color: white;
}

.extra.content  {
    text-transform: capitalize;
}

.footer {
    text-align: center;
    padding-top: 20px;
    font-size: 1.2rem;
}