/* #bg-image {
    background-image: url("../images/bg3.jpg");
    height: 100%;
    background-size: auto;
    background-repeat: no-repeat;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    margin: -20px;
    
} */

body {
    background-color: darkgray;

    background-image: url("../images/bg1.jpg");
    height: 100%;

    background-size: cover;
    background-repeat: no-repeat;
}

#container {
    width: 1000px;
    margin: auto;

    /* border: 2px solid gray; */

    margin-top: 30px;
    margin-bottom: 30px;

    justify-content: center;
}

#logo {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

#searchbtn {
    margin-left: auto;
    margin-right: auto;

}

.intro {
    padding: 20px;
    text-align: center;
    color: white;
}

#quote {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

#indexSearch {
    position: absolute;
    top: .35em;
    right: .5em;
}